<tr>
  <td>Video</td>
  <td>Blackmagic Design Pocket Cinema Camera 4K</td>
  <td>Camera that’s overkill for streaming, but great to use</td>
  <td><a href="https://amzn.to/3s6e2SU">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Video</td>
  <td>Rokinon 24mm T1.5 Micro Four-Thirds Lens</td>
  <td>Solid lens for the Camera</td>
  <td><a href="https://amzn.to/2MFFabb">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Video</td>
  <td>Elgato Green Screen</td>
  <td>Green screen to remove my background</td>
  <td><a href="https://amzn.to/3qa5g4x">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Video</td>
  <td>Zettaguard 4K 60Hz 4x1 HDMI Switch</td>
  <td>Takes in multiple HDMI signals and provides an easy way to switch between them</td>
  <td><a href="https://amzn.to/2XkPKXd">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Video</td>
  <td>SIIG 4K HDR HDMI Splitter with Audio Extraction</td>
  <td>Duplicates one HDMI signal into two signals and also extracts the audio from the HDMI signal as well</td>
  <td><a href="https://amzn.to/3hUZ5yg">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Video</td>
  <td>Logitech C920</td>
  <td>Extra camera for stream setup (not pictured)</td>
  <td><a href="https://amzn.to/3pX7l3O">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Video</td>
  <td>Logitech C922</td>
  <td>Extra camera for stream setup (not pictured)</td>
  <td><a href="https://amzn.to/2MIXkJg">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Video</td>
  <td>Dracast S Series Lights (DRSP-500D)</td>
  <td>Lighting for streamer and green screen</td>
  <td><a href="https://amzn.to/3oq6p7I">Amazon (affiliate link)</a> (Closest I could find)</td>
</tr>
<tr>
  <td>Video</td>
  <td>Neewer C Stand</td>
  <td>Acts as camera stand currently because of space constraints</td>
  <td><a href="https://amzn.to/2XiEqej">Amazon (affiliate link)</a></td>
</tr>
