<tr>
  <td>Audio</td>
  <td>Heil PR40</td>
  <td>Microphone</td>
  <td><a href="https://amzn.to/38lM91C">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Audio</td>
  <td>Mackie 1402VLZ4</td>
  <td>Audio Mixer handling all audio</td>
  <td><a href="https://amzn.to/2MMYfIN">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Audio</td>
  <td>Cloudlifter CL-1</td>
  <td>Gain booster for Dynamic Microphones</td>
  <td><a href="https://amzn.to/395shPn">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Audio</td>
  <td>Beyerdynamic Amiron</td>
  <td>Nice headphones to make sure everything sounds juuussssssstttt right</td>
  <td><a href="https://amzn.to/3hRpP32">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Audio</td>
  <td>Roland VT-4</td>
  <td>Audio signal modulator to add vocal effects</td>
  <td><a href="https://amzn.to/3pZPTM5">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Audio</td>
  <td>Behringer HD400 Hum Destroyer</td>
  <td>Isolator that sits between the Mackie Mixer and the Behringer Multicom Pro XL and eliminates audio hum/noise</td>
  <td><a href="https://amzn.to/3s4zfN5">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Audio</td>
  <td>Behringer Multicom Pro XL</td>
  <td>Compressor, Limiter, and Gate for Microphone</td>
  <td><a href="https://amzn.to/39a83Ea">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Audio</td>
  <td>PROZOR 192k Digital to Analog Audio Converter</td>
  <td>Converts the digital audio signal extracted from HDMI into analog audio to send into the mixer</td>
  <td><a href="https://amzn.to/35kM2S1">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Audio</td>
  <td>Mogami XLR Cables</td>
  <td>Cables for the Microphone</td>
  <td><a href="https://amzn.to/3sctkG3">Amazon (affiliate link)</a></td>
</tr>
