<tr>
  <td>Streaming PC</td>
  <td>AMD Ryzen 9 3950x</td>
  <td>CPU (AKA Processor)</td>
  <td><a href="https://amzn.to/3nqjyMP">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Streaming PC</td>
  <td>G.SKILL Ripjaws V Series RAM (32GB, 4 x 8GB)</td>
  <td>RAM</td>
  <td><a href="https://amzn.to/3oCEDoN">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Streaming PC</td>
  <td>Magewell Pro Capture Quad HDMI Capture Card</td>
  <td>Capture card for video feeds</td>
  <td><a href="https://amzn.to/3pVXV8L">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Streaming PC</td>
  <td>ASUS Essence STX II Sound Card</td>
  <td>Sound card for both sending and receiving audio</td>
  <td><a href="https://amzn.to/38ozr27">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Streaming PC</td>
  <td>Elgato Stream Deck XL</td>
  <td>Hotkeys and switching scenes</td>
  <td><a href="https://amzn.to/2XifvYc">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Streaming PC</td>
  <td>Logitech G600</td>
  <td>Mouse</td>
  <td><a href="https://amzn.to/2L9TUP6">Amazon (affiliate link)</a></td>
</tr>
<tr>
  <td>Streaming PC</td>
  <td>Ergodox-EZ</td>
  <td>Keyboard</td>
  <td><a href="https://ergodox-ez.com/">Ergodox-EZ Website</a></td>
</tr>
<tr>
  <td>Streaming PC</td>
  <td>Herman Miller Aeron Office Chair</td>
  <td>Incredible chair that I’ve used for years</td>
  <td><a href="https://www.hermanmiller.com/products/seating/office-chairs/aeron-chairs/">Herman Miller Website</a></td>
</tr>
